.button {
  @apply .px-2 .py-1;
}
:root {
  font-size: 16px;
}

table td {
  @apply .py-3;
}
.table-min-width {
  min-width: 700px;
}

select {
  appearance: none;
}
.shadow-100 {
  box-shadow: rgba(0, 0, 0, 0.28) 0px 1px 0px 1px;
}
.three-d-gradient {
  background-image: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}
.position-right-middle {
  right: 1rem;
  top: 60%;
}

.button-texture {
  @apply .shadow-100 .three-d-gradient;
}

.select-bg {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/9a/Caret_down_font_awesome.svg),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-position: right 0.5rem top 0.5rem, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: 1rem, auto;
}
